# Ref: https://github.com/github/gitignore/blob/main/Go.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
sbin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
tmp/
reports/
coverage*

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env*

# allow a template .env file
!.env.template

# log files
*.log

# Temporary files
*~
*.bak

# Network config
.netrc

# VSCode
.vscode